*{
  padding: 0%;
  margin: 0%;
  /* transition: 400ms all ease-in-out; */
}

button{
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #0D0C0C;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  user-select: none; 
  
  
}

#screen{
  width: calc(100vw - 26px) ;
  height: calc(100vh - 26px);
  max-width: calc(100vw - 26px) ;
  max-height: calc(100vh - 26px);
  background-color: #0D0C0C;
  border-radius: 15px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  transition: height 200ms ease-in-out;
  
}

#leftbar{
  border: rgba(255, 95, 95, 50);
  /* background-color: black; */
  height: calc(100vh - 5px);
  width: 12px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

#tab-bar{
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 95%;
  max-height: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  
  transition: all 200ms ease-in-out;
}

.tab img{
  width: 35px;
}

#topbar{
  
  
  
  width: calc(100vw - 13px);
  height: 12px;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 200ms ease-in-out;
}







#nav-tab *{
  -webkit-app-region: no-drag;
}

.nav-tab-full{
  -webkit-app-region: drag;
}

#nav-tab{
  

  /* border: 1px solid white; */
  display:inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  min-width: 80vw;
  width: 100%;
  gap: 10px;
  
  transition: all 200ms ease-in-out;
  

}



#nav-tab input{
  height: 30px;
  min-width: 100px;
  width: 50vw;
  border: none;
  background-color: #252525;
  border-radius: 5px;
  color: rgb(182, 182, 182);
  padding-left: 10px;
  padding-right: 10px;
  
}



#nav-tab input:focus{
  
  color: whitesmoke;
  outline: 1px solid #FF5F5F;
}

#nav-tab button{
  width: 30px;
  height:30px;
}

#nav-tab img{
  width: 30px;
  
}



/* Hide scrollbar for IE, Edge and Firefox */
#tab-bar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.window{
  width: 100%;
  min-height: calc(100% - 10px );
  
  
  border-radius: 15px;
  border:1px solid black;
  padding: 1px;
  overflow: hidden;

  transform: none;
}

.window webview{
  width: 100%;
  height: 100%;
  transform: none;
}

#scr-2{
  width: 0%;
  display: none;
  /* transform: none; */
}


#tab-bar::-webkit-scrollbar {
  display: none;
}

#win-tray{
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0%;
  margin-right: 10px;
  
  
  /* -webkit-user-select: none; */
  /* -webkit-app-region: drag; */
  -webkit-app-region: no-drag;
}

#win-tray button{
  padding: 0;
  margin: -3px;

}

#win-tray img{
  width: 18px;
  margin: 0%;
  padding: 0%;
  

}

#win-tray button img:hover{
  box-shadow: 0 0 10px #719ECE;
  border-radius: 100%;
}